/* GetOrder.css */
.getOrder-container {
    max-width: 750px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
}

.getOrder-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.getOrder-form input,
.getOrder-form button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.getOrder-form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.getOrder-form button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.order-error-message {
    color: #dc3545; /* Bootstrap danger color */
    font-weight: bold;
}

.order-content {
    display: flex;
    gap: 20px;
}

.order-details,
.order-items {
    flex: 1;
    min-width: 0; /* Prevents flex items from overflowing */
}

.order-items-list {
    max-height: 400px; /* Adjust this value as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd; /* Optional for styling */
    border-radius: 4px; /* Optional for styling */
}

.order-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    /* Roll animation */
    transform: translateX(100%);
    animation: rollIn 0.6s forwards;
}

.order-item:nth-child(odd) {
    background-color: #f8f9fa;
}

.order-item img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin-top: 10px;
}

@keyframes rollIn {
    from {
        transform: translateX(100%) rotate(-120deg);
        opacity: 0;
    }
    to {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

.order-items-list::-webkit-scrollbar {
    width: 6px;
}

.order-items-list::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 4px;
}

.order-items-list::-webkit-scrollbar-track {
    background-color: #f8f9fa;
}

@media (max-width: 768px) {
    .order-content {
        flex-direction: column;
    }

    .order-items-list {
        max-height: 300px; /* Adjust height for smaller screens */
    }
}
