/* payment-refund.css */

/* Style for the entire card container */
.card-refund-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #f0f0f0; /* Background color for the entire page */
    margin-left: 240px;
  }
  
  /* Style for the card */
  .card-refund {
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded corners for the card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle elevation effect */
  }
  
  /* Style for the form elements */
  .card-refund label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold; /* Make labels bold for better readability */
  }
  
  .card-refund input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
  }
  
  /* Style for the submit button */
  .card-refund button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .card-refund button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Style for the response message */
  .card-refund .message {
    margin-top: 20px;
    color: #333;
  }
  